extends layout


block content
        li 
          a(href="/signin") Registration
        h1 Log In
        form(method='POST' action='/loginUser')
          div
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='login')
          div
            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
          button(type='submit') Log in 

block newscontent
    each elem,i in news.articles
        ul
            li !{elem.title}
            p !{elem.content}
    


