extends layout

block content
      div.col
                form.cols12(action="/registerUser" method="POST")
                    h4
                        | Registration
                    div.col
                        div.input-field.col.l6
                            input.validate(placeholder="E-mail" type="text" name="email")
                        div.input-field.col.l6
                            input.validate(placeholder="Username" type="text" name="username")
                        div.input-field.col.l6
                            input.validate(placeholder="Password" type="password" name="password")
                            div.input-field.col.l6
                                input.validate(placeholder="Confirm Password" type="password" name="passwordConf")
                        button.btn Register