extends layout

block content
        h1 Sign Up
        form(method='POST' action='/register')
          div
            label(for='name') Name:
            input(type='text', placeholder='first and last' name='name')
          div
            label(for='email') Email:
            input(type='email', placeholder='name@email.com' name='email')
          div
            label(for='pw') Password:
            input(type='password' name='password')
          div
            label(for='pw2') Confirm Password:
            input(type='password' name='confirmPassword')
          button(type='submit') Sign up